registry=https://registry.npmjs.org/
@bricks:registry=https://pkgs.dev.azure.com/CPSAA/_packaging/CPSAA-DEV/npm/registry/ 

strict-ssl=false
always-auth=true

; begin auth token
//pkgs.dev.azure.com/CPSAA/_packaging/CPSAA-DEV/npm/registry/:username=CPSAA
//pkgs.dev.azure.com/CPSAA/_packaging/CPSAA-DEV/npm/registry/:_password=ZTRoa3R3Y3RuN3pibHg1eWVheDQyb2xmd3VvM2VuNDdncG5od3VpY291eHNpeXlyZjRrcQ==
//pkgs.dev.azure.com/CPSAA/_packaging/CPSAA-DEV/npm/registry/:email=omarcordero@multiplica.com
//pkgs.dev.azure.com/CPSAA/_packaging/CPSAA-DEV/npm/:username=CPSAA
//pkgs.dev.azure.com/CPSAA/_packaging/CPSAA-DEV/npm/:_password=ZTRoa3R3Y3RuN3pibHg1eWVheDQyb2xmd3VvM2VuNDdncG5od3VpY291eHNpeXlyZjRrcQ==
//pkgs.dev.azure.com/CPSAA/_packaging/CPSAA-DEV/npm/:email=omarcordero@multiplica.com
; end auth token