<h1>BDS-TABS</h1>
<h2>Tab Horizontal</h2>
<div>
  <bds-tabs 
    direction="horizontal" 
    theme="pacasmayo" 
    iconText="'group'"
  >
    <bds-tab-list>
      <bds-tab label="Primero"></bds-tab>
      <bds-tab label="Segundo"></bds-tab>
      <bds-tab label="Tercero"></bds-tab>
    </bds-tab-list>
    <bds-tab-panel>Content 1</bds-tab-panel>
    <bds-tab-panel>Content 2</bds-tab-panel>
    <bds-tab-panel>Content 3</bds-tab-panel>
  </bds-tabs>
</div>

<h2>Tab Vertical</h2>
<div>
  <bds-tabs 
    direction="vertical" 
    theme="pacasmayo" 
    selectedIndex="2"
  >
    <bds-tab-list>
      <bds-tab label="Primero"  icon-text="star_rate"></bds-tab>
      <bds-tab label="Segundo"  icon-text="star_rate"></bds-tab>
      <bds-tab label="Tercero"  icon-text="star_rate"></bds-tab>
    </bds-tab-list>
    <bds-tab-panel>Content 1</bds-tab-panel>
    <bds-tab-panel>Content 2</bds-tab-panel>
    <bds-tab-panel>Content 3</bds-tab-panel>
  </bds-tabs>
</div>
